
<div class="combat-container" #diceContainer id="diceContainer">
    
    <ion-card class="player-info">
        <ion-card-content>
            <img src="assets/darryn.png" alt="">
            
            <p>Health: {{player?.health}}</p>
            <p>AC: {{player?.AC}}</p>
            <p>STR: {{player?.strength}}</p>
            
            <p>CON: {{player?.constitution}}</p>
            
            <p>DEX: {{player?.dexterity}}</p>
            
            <p>INT: {{player?.intelligence}}</p>
            
            <p>WIS: {{player?.wisdom}}</p>
            
            <p>CHA: {{player?.charisma}}</p>
            
        </ion-card-content>
    </ion-card>
    <ion-card class="combat-details"  #combatDetailsElement>
        <ion-card-content>
            <div>
                <p color="warning">Enemy Health: 100</p>
            </div>
            <div class="description-block">
                <div *ngFor="let item of loadedText">
                    <p>> {{item}}</p>
                    <br />
                </div>
            </div>
            
             
        </ion-card-content>
    </ion-card>
</div>
<div class="option-container">
    <div class="main-options">
        <ion-item *ngIf="touchy" (click)="getAttacks()">Attack</ion-item> 
        <ion-item *ngIf="touchy" (click)="dodge()" >Dodge</ion-item>
        <ion-item *ngIf="touchy" (click)="getInventory()">Inventory</ion-item>    
    </div>
    <!-- Enemies -->
    <div class="sub-options"  *ngIf="touchy && stage==='attackTarget'" >
        
        <ion-item (click)="selectTarget(option)" *ngFor="let option of enemies">{{option.name}}</ion-item>
    </div>
    
    <div class="sub-options"  *ngIf="touchy && stage==='attackWeapon'" >
        
        <ion-item (click)="attack(option)" *ngFor="let option of weapons">{{option.image}} -{{option.name}}</ion-item>
    </div>

</div>

