<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        {{storyBlock.pathway}}
      </ion-card-subtitle>
      <ion-card-title>
        {{storyBlock.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{displayedText}} <!-- Use displayedText for typing effect -->
    </ion-card-content>
  </ion-card>

  <!-- Options  -->
  <ion-item *ngFor="let option of storyBlock.options" (click)="onOptionSelected(option.targetStoryBlock)">
    {{option.name}} - {{option.description}}
  </ion-item>
</ion-content>
