<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Game</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" class="glow-hover" (click)="resetGame()"><ion-icon name="refresh-outline" slot="start"></ion-icon> Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="flicker-effect">
    <ion-card-header>
      <ion-card-title>
        {{storyBlock.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{displayedText}} <!-- Use displayedText for typing effect -->
      <br>
      <ion-button fill="clear" (click)="speedup()">Skip >></ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Options  -->
   <div *ngIf="!storyBlock.isCombat">
      <ng-container  *ngFor="let option of storyBlock.options">
        <ion-item  *ngIf="optionAvailable(option)" (click)="onOptionSelected(option)">
          {{option.name}} - {{option.description}}
        </ion-item>

      </ng-container>
      
   </div>
   <div *ngIf="storyBlock.isCombat">
      <ion-item (click)="openCombat(storyBlock);"> Start Combat ⚔️</ion-item>
   </div>
  
</ion-content>
