<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Game</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="resetGame()"><ion-icon name="refresh-outline" slot="start"></ion-icon> Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        {{storyBlock.pathway}}
      </ion-card-subtitle>
      <ion-card-title>
        {{storyBlock.title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{displayedText}} <!-- Use displayedText for typing effect -->
    </ion-card-content>
  </ion-card>

  <!-- Options  -->
   <div *ngIf="!storyBlock.isCombat">
      <ion-item *ngFor="let option of storyBlock.options" (click)="onOptionSelected(option.targetStoryBlock)">
        {{option.name}} - {{option.description}}
      </ion-item>
   </div>
   <div *ngIf="storyBlock.isCombat">
      <ion-item (click)="openCombat(storyBlock);"> Start Combat ⚔️</ion-item>
   </div>
  
</ion-content>
